{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/add-post" class="form">
    <div class="row mb-3">
        <div class="col-sm-12">
            <textarea class="form-control" name="title" placeholder="Title" style="height: 30px"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <textarea class="form-control" name="message" placeholder="Your message" style="height: 100px"></textarea>
        </div>
    </div>

    <div class="row mb-4">
        <button type="submit" class="btn btn-primary">Public post</button>
    </div>
</form>
{% endblock %}